#!/bin/sh
runsvdir -P {{ runit_service_dir }} 'log: ...........................................................................................................................................................................................................................................................................................................................................................................................................'
