#!/bin/sh
PATH=/command:/usr/local/bin:/usr/local/sbin:/bin:/sbin:/usr/bin:/usr/sbin:/usr/X11R6/bin:{{ runit_binary_dir }}
exec env - PATH=$PATH \
runsvdir -P {{ runit_service_dir }} 'log: ...........................................................................................................................................................................................................................................................................................................................................................................................................'
